[submodule "Frontend_Reembolso_de_Despesas"]
	path = Frontend_Reembolso_de_Despesas
	url = https://github.com/Byte-Boost/Frontend_Reembolso_de_Despesas
[submodule "Backend_Reembolso_de_Despesas"]
	path = Backend_Reembolso_de_Despesas
	url = https://github.com/Byte-Boost/Backend_Reembolso_de_Despesas
